<h2>You are now viewing the world's greatest heroes!</h2>

    {{#each superHeroList}}
        <div>
            <h3>Hero Name: {{name}} - {{rank}}</h3>
            <hr />
            <span>Powers include: {{power}}</span>
        </div>
    {{/each}}